<footer class="main-footer">
    <div class="main-header__item-list">
        <span><strong>For any query:</strong></span>
        <li class="main-header__item">
            <a href="https://www.linkedin.com/in/akshaykumar99/" target="_blank">akshaykumar99</a>
        </li>
    </div>
</footer>
